
<!DOCTYPE html>
<html>
  <head>
      <link type="text/css" rel="stylesheet" href="/DOM_tree.css" />
    <title>Dom tree</title>
  </head>

  <body>
    <div id="main">
      <div class="d">
        <h1><center>DOMTREE</center></h1>
      </div>
      

        <div class="picture1">
          <img src="/images/Domtree1.PNG" alt="1">

  </div>
      <div class="picture2">
        <img src="/images/Domtree2.PNG" alt="2">

</div>
    <div class="picture3">
      <img src="/images/Domtree3.PNG" alt="3">

</div>
    <div class="picture4">
      <img src="/images/Domtree4.PNG" alt="4">

</div>
    <div class="picture5">
      <img src="/images/Domtree5.PNG" alt="5">

</div>

    <div class="picture6">
      <img src="/images/Domtree6.PNG" alt="6">

</div>

  </div>

  </body>
</html>
