<!DOCTYPE html>
<html>

<head>
    <link type="text/css" rel="stylesheet" href="/activity1.css" />
    <title>solution to problem 2 to 6</title>
</head>

<body>
    <header>
        <h1><center>Activity1 - Solutions</center></h1>
    </header>
    <div id="solution">
        <div class="two">
            <h4><center>2. What is the CSS box model for the section Instructors Teaching Assistants like?
          <br>You need to show me everything from the outer container down to the innermost one.</br>
          You must also include the size details for content, padding, border, and margin for each box.
        </center></h4>
            <div class="image">
                <center><img src="/images/2.jpg" alt="solution_2"></center>
            </div>
            <br></br>
        </div>
        <div class="three">
            <h4><center>3. Locally, if you want to insert a random photo just below that of Serena Yeung, how would
you do it?
      <br>Describe the steps and capture the screenshot showing that you actually did it.</br>
      <p>1) Go to div class of Serena Yeung.</p>
      <div class="image">
          <center><img src="/images/31.jpg" alt="solution_3"></center>
      </div>
      <p>2) Change at source of image by typing URL of new image or image in your local repository.</p>
        <li><a href="https://beebom.com/wp-content/uploads/2016/01/Reverse-Image-Search-Engines-Apps-And-Its-Uses-2016.jpg">For Example</a> </li>
        <br></br>
      <div class="image">
          <center><img src="https://beebom.com/wp-content/uploads/2016/01/Reverse-Image-Search-Engines-Apps-And-Its-Uses-2016.jpg" alt="solution_3"></center>
      </div>
            <br>So the solution is</br>
            <br></br>
      <div class="image">
          <center><img src="/images/32.jpg" alt="solution_3"></center>
      </div>
      <center></h4>
        </div>
        <div class="four">
            <h4><center>4. At the top of the page, there is an animation that is going on in div with id=teaser.
        <br>Which class of div is changing all the time?</br>
            Can you identify the JavaScript code responsible for this?
      Describe how do you discover this JavaScript code and copy part of the relevant code
to show me.
        <br>layer div classes are changing all the time.</br>
        Discover by looking at this div and it contains all of layers that change all the time and then I try deleting the convnetvis id and the animation stopped. So it might be responsible for the animation.
      <center></h4>
        </div>
        <div class="five">
            <h4><center>5.The pictures in the teaser div seems to be manipulated by the JavaScript code.
        <br>Can you identify the source of these pictures? Explain how you obtain the answer.</br>
        <br>They get all picture from `https://www.cs.toronto.edu/~kriz/cifar.html` or `CIFAR-10`.</br>
        I look up in the `source page` -> `cs231n.stanford.edu` -> `convnet_demo` -> `convnet_demo.js` in the commend line they told that they dowload image from `CIFAR-10`.
      <center></h4>
        </div>
        <div class="six">
            <h4><center>6. The bar graph color on the rightmost of the teaser is currently green.
        <br>Can you change it to blue locally?</br>
        Describe the hacking steps and capture the screen shot showing that you
actually did it.
  <p>1) Go to class layer and choose one of their class pp.</p>
<div class="image">
    <center><img src="/images/61.jpg" alt="solution_6"></center>
</div>
<p>2) Change background-color to blue.</p>
<div class="image">
    <center><img src="/images/62.jpg" alt="solution_6"></center>
</div>
      <center></h4>
        </div>
    </div>
</body>

</html>

