.d{
  width: 250px;
  box-shadow: black 0.5em 0.5em 0.3em;
}

.picture1 {
  float:none;
}
.picture2 {
  float:none;
}
.picture3 {
  float:none;
}
.picture4 {
  float:none;
}
.picture5 {
  float:none;
}
.picture6 {
  float:none;
}
